@font-face {
  font-family: primary-font;
  src:url("/fonts/poppins.ttf");
}
body {
  background-color: #1C1B20;
  font-family: primary-font;
}

.main-container {
  width: 90%;
  min-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.kanban-board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button {
  font-family: primary-font;
}

.kanban-block {
  padding: 15px;
  width: 21%;
  border-radius: 0.3rem;
  background-color: #29282D;
}

.block-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#heading {
  color: #BBBABF;
  font-weight: bold;
}

.tasks {
  height: 500px;
}

.task {
  background-color: #36353A;
  margin-top: 7px;
  position: relative;
  border-radius: 0.2rem;
  color: #BBBABF;
  cursor: pointer;
  padding: 0.5rem 0.2rem 0.5rem 2rem;
}

.deleteBtn {
  color: #aaa;
  cursor: pointer;
  float: right;
  position: absolute;
  top: -1px;
  right: 8px;
  display: none;
}

.task:hover .deleteBtn {
  display: block;
}

.deleteBtn:hover {
  scale: 1.2;
}

#task-button {
  height: 7px;
  width: 12px;
  background-color: #36353A;
  color: #BBBABF;
  border-radius: 50px;
  border: none;
  padding: 9px;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}